
.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/banner.png");
    height: 90vh;
    

}
#navbarContent li{
    padding: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color:white;
    font-weight: bold;
}

.banner-text{
   text-transform: capitalize;
   background: transparent;
   padding :12rem 2rem;

}

.round{
    border-radius: 50px;
    display: block;
    padding:10px 30px;
    margin:2px;
}

.about-us-heading{
margin: 100px 0px;
}

.myCard{
    margin: 15px;
}


.why-us{
    margin: 200px 0px;
}

.stats{
    margin:100px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url(../images/info_banner.png);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.stats-data{
    padding: 200px 0;
}