.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner.png");
    height: 100vh;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.search {
    background: lightskyblue;
}

.idea {
    background: green;
}

.finance {
    background: orange;
}

.food {
    background: skyblue;
}

.travel {
    background: purple;
}

.bussiness {
    background: red;
}

.icon {
    color: white;
    padding: 50px;
    border-radius: 50%;
}

#navbarContent li {
    padding: 10px;
}

.line {
    height: 10px;
    background-color: green;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
}

.banner-text {
    text-transform: capitalize;
    background: transparent;
    padding: 12rem 2rem;
}

.round {
    border-radius: 50px;
    padding: 10px 30px;
}

.heading {
    margin: 100px 0px;
}

.myCard {
    margin: 25px 0px;
}

.stats {
    margin: 100px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/counter.png);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.stats-data {
    padding: 15% 0;
}

.testimony {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/testimony/testmonial.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: 10% 0;
}

.testimony-data {
    padding: 80px 0px;
}

.quote-icon {
    font-size: 90px;
}

.mybutton {
    padding: 10px 150px;
    margin: 20px 0px;
}

.call-us {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/info_banner.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.call-us-text {
    background: transparent;
}

.footer {
    margin-top: 150px;
}

.footer-heading {
    font-size: large;
    font-weight: light;
    color: rgb(90, 88, 88);
    margin-bottom: 50px;
}

.footer,
.footer a {
    color: gray;
}

.no-border {
    border: 0;
}

.gray-border {
    border: 1px solid gray;
    border-radius: 50px;
    padding: 1px 20px;
}

.subscribe-btn {
    border-radius: 50px;
    font-size: small;
    padding: 10px 8px;
}

.subscribe-input {
    font-size: small;
    padding: 10px 0px;
}